
<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300 text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam dolore asperiores nostrum consequuntur. Quod quasi cumque at hic! Nihil eum omnis culpa pariatur, corporis vitae libero exercitationem laudantium. Delectus.</p>
</section>