<header class="bg-zinc-900 flex flex-col p-20 gap-3 text-center rounded-xl md:text-left md:flex-row">
    <div>
        <h1 class="text-5xl font-bold mb-2">Protect your password</h1>
    <p class="py-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nihil!</p>
    <button class="bg-indigo-500 px-3 py-2 rounded-lg mb-4 mt-4 hover:bg-indigo-400">Start Now</button>
    </div>
   

    <img class="w-80" src="/astro-landing/images/fingerprint.svg" alt="">
</header>