<section class="flex flex-col py-20 md:flex-row">
   <div class="flex-1 grid grid-cols-2 gap-4">
    <div  class="text-center">
        <img class="w-20 m-auto bg-green-500" src="/favicon.svg" alt="">
        <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center"> 
        <img class="w-20 m-auto bg-blue-500" src="/favicon.svg" alt="">
        <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
        <img class="w-20 m-auto bg-red-500" src="/favicon.svg" alt="">
        <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
        <img class="w-20 m-auto bg-yellow-300"  src="/favicon.svg" alt="">
        <p class="mt-4">Dev Managment</p>
    </div>
    
    
   </div>
   <div class="flex flex-1 flex-col gap-y-10 text-center">
    <h2 class="text-5xl font-bold pt-10 mx-4 md:pt-0 md:mx-0">Lorem ipsum dolor sit.</h2>
    <p class="text-3xl text-zinc-300 mx-2 md:mx-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, earum.</p>
</div>
</section>