---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime impedit sapiente recusandae cum soluta suscipit possimus dignissimos nihil quas. Incidunt illum quia officiis culpa ea, quas enim praesentium iure totam officia consectetur? Quae voluptatum iste delectus numquam, corporis pariatur. Voluptas eum, dolorem reprehenderit autem voluptatem, facere dolores fugit repellendus dolor expedita odio doloremque? Officia aliquid, eligendi soluta iure incidunt culpa ut qui voluptates molestiae quos minus pariatur ducimus expedita sequi reiciendis rem tempore odit sapiente? Repellat velit natus laboriosam numquam eius rem, reiciendis eos aut tenetur suscipit tempora quidem blanditiis optio dolorem consectetur ad eligendi provident consequuntur adipisci totam corrupti!
</Layout>