---
interface Props {
    title: string;
}
import '../styles/Layout.css'
import Footer from "../components/landing/Footer.astro";

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro 
        landing - {title}</title>
</head>
<body>
    <main class="mx-auto container md:pt-20">
        <slot/>
    </main>
    <Footer/>
</body>
</html>